.bam-container {
    min-height: 100vh;
    color: #fff;
    background-attachment: fixed;
    margin: -10px;
    text-shadow: 0 0 1px #000;
    /* background-image: linear-gradient(to right top, #051937, #20d355, #1f5558, #828830, #858c74); */
    scroll-behavior: smooth;
    color: #000;
    display: flex;
    justify-content: center;
  }
 
  .bam-balance{
    border:1px solid #000;
    border-radius: 10px;
    padding:20px 40px;
    text-align: center;
    margin: 10px;
    
  }
  .button-connect{
    padding: 10px;
    height: 30px;
  }
  .btn{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    background: #e6e6e6;
    margin: 0 auto;
    width: 20%;
    
  }
  .d-flex{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
  }
 .input{
   width: 100%;
   padding: 10px;
   color: #000;
   border-radius: 10px;
   outline: none;
   margin-bottom: 10px;
 }
 .mr{
   margin: 10px;
 }
 .pending-request{
   text-align: center;
 }